.hero{
    background-color: var(--hero-background-color);
   
    background-repeat: no-repeat;
    background-position: bottom center;
   
    &-container{
     @media screen and (min-width:320px) {
        padding-top: 50px;
        padding-bottom: 236px;
    }
    }

    &-title{
        font-family: 'Seymour One';
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            color: var(--white-text-color);
        
            @media screen and (min-width:320px) {
                width: 247px;
        
                &-ice,
                &-made {
                    font-size: 26px;
                    line-height: calc(33/26);
                    letter-spacing: 0.04em;
                }
        
                &-passion {
                    font-size: 34px;
                    line-height: 96.5%;
                }
            }
    }

    &-link-products{
        display:block;
        min-width:108px;
        height:38px;
        border: 2px solid #F8D24E;
        border-radius: 8px;
        background-color: transparent;
        text-decoration: none;
        text-align: center;
        padding-top:11px;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;


    }

    &-link{
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color:var(--hero-yellow);
    }

    &-interactive-elements{
        display:flex;
        gap:12px;
        align-items: center;
    }
}

.hero-container{

 
}


.hero-title{
    
    
}