:root{
            --white-text-color: #FCFCFC;
            --black-text-color:#131313;
            
            --address-text-color:#D6936D;
            --schedule-text-color:#ABABAB;
            --copyright-text-color:#7A7A7A;
    
            --hero-background-color:rgba(132 161 120 1);
            --card-green-color:rgba(174, 198, 165, 1);
            --section-green-color:#84A178;
            --hero-yellow:#F8D24E;
            --card-yellow:#EFD478;
            --card-pink:#D6936D;
    
           
}
