ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  padding: 0;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

:root {
  --white-text-color: #FCFCFC;
  --black-text-color:#131313;
  --address-text-color:#D6936D;
  --schedule-text-color:#ABABAB;
  --copyright-text-color:#7A7A7A;
  --hero-background-color:rgba(132, 161, 120, 1);
  --card-green-color:rgba(174, 198, 165, 1);
  --section-green-color:#84A178;
  --hero-yellow:#F8D24E;
  --card-yellow:#EFD478;
  --card-pink:#D6936D;
}

body {
  margin: 0;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

header {
  background-color: rgb(132, 161, 120);
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  header {
    padding-top: 20px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .header-container {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .logo-icon {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-icon {
    width: 60px;
    height: 65px;
  }
}

.mob-menu {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(132, 161, 120);
  padding-bottom: 64px;
  opacity: 1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  color: #FCFCFC;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    font-size: 48px;
    line-height: 1.2291666667;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-nav-link {
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .mob-nav-link:hover,
.mob-nav-link:focus {
    color: #131313;
  }
}
@media screen and (min-width: 1200px) {
  .mob-nav-link:hover,
.mob-nav-link:focus {
    cursor: -webkit-grab;
    cursor: grab;
    color: #F8D24E;
  }
}

.mob-menu-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.mob-nav {
  padding-left: 12px;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 110px;
}

.mob-menu-close, .mob-menu-open {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  margin-right: 0;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .mob-menu-close, .mob-menu-open {
    display: none;
  }
}

.mob-menu-close {
  display: flex;
}

@media screen and (min-width: 320px) {
  .buy {
    min-width: 152px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    margin: 0 auto;
    border: none;
    display: flex;
    justify-content: center;
  }
  .buy-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    display: inline-block;
    min-width: 152px;
    padding-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  .buy {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .buy_tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .buy_tablet {
    display: block;
    width: 152px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    margin-left: 32px;
    border: none;
  }
  .buy_tablet-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .buy_tablet {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .buy_tablet {
    display: none;
  }
}

.sandwich-icon, .cross-icon {
  fill: #FCFCFC;
}

@media screen and (max-width: 1199px) {
  .desktop-nav {
    display: none;
  }
}

.buy_desktop {
  display: block;
  width: 152px;
  height: 42px;
  background: #F8D24E;
  border-radius: 10px;
  margin-left: 204px;
  border: none;
}
@media screen and (max-width: 1199px) {
  .buy_desktop {
    display: none;
  }
}
.buy_desktop-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.desktop-nav-list {
  display: flex;
  gap: 28px;
  margin-left: 308px;
}

.desktop-nav-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-text-color);
}
.desktop-nav-link:focus, .desktop-nav-link:hover {
  cursor: pointer;
  color: #F8D24E;
}

/*--hero--*/
@media screen and (max-width: 767px) {
  .plate {
    display: none;
  }
}

.hero {
  background-color: var(--hero-background-color);
}
.hero-container {
  position: relative;
}
@media screen and (min-width: 320px) {
  .hero-container {
    padding-top: 50px;
    padding-bottom: 236px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 14px;
    padding-bottom: 0;
    height: 349px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 45px;
    padding-bottom: 103px;
    height: 593px;
  }
}
.hero-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 0;
  margin-bottom: 24px;
}
@media screen and (min-width: 320px) {
  .hero-title {
    width: 247px;
  }
  .hero-title-ice, .hero-title-made {
    font-size: 26px;
    line-height: 1.2692307692;
    letter-spacing: 0.04em;
  }
  .hero-title-passion {
    font-size: 34px;
    line-height: 96.5%;
  }
}
.hero-button {
  min-width: 108px;
  height: 38px;
  border: 2px solid #F8D24E;
  border-radius: 8px;
  background-color: transparent;
}
.hero-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--hero-yellow);
}
.hero-interactive-elements {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .hero-description {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-description {
    display: block;
    width: 139px;
    margin-left: 184px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1333333333;
    color: #FCFCFC;
  }
}

.hero-link-products {
  display: block;
  border: 2px solid #F8D24E;
  border-radius: 8px;
  min-width: 108px;
  height: 38px;
  text-decoration: none;
  text-align: center;
  padding-top: 11px;
  font-weight: 600;
  font-size: 12px;
}

.ice-cream-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .ice-cream-img {
    right: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .ice-cream-img {
    right: 92px;
    width: 456px;
  }
}

.dots-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: auto;
}
@media screen and (min-width: 460px) {
  .dots-img {
    width: 460px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .dots-img {
    width: 768px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .dots-img {
    width: 1200px;
    height: auto;
  }
}

.plate {
  position: absolute;
  z-index: 3;
  left: 16px;
  bottom: 0;
  width: 152px;
  height: 152px;
  display: block;
}
@media screen and (max-width: 767px) {
  .plate {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .plate {
    width: 225px;
    height: 225px;
  }
}

@media screen and (max-width: 767px) {
  .hero-achivements {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-achivements {
    display: block;
    width: 46px;
    position: absolute;
    top: 28px;
    right: 32px;
  }
}

.hero-achievements-item {
  font-size: 8px;
  line-height: 1.5;
  text-align: right;
  color: #FCFCFC;
}
.hero-achievements-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.number {
  display: block;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 4px;
}/*# sourceMappingURL=main.css.map */