ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  padding: 0;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

:root {
  --white-text-color: #FCFCFC;
  --black-text-color:#131313;
  --address-text-color:#D6936D;
  --schedule-text-color:#ABABAB;
  --copyright-text-color:#7A7A7A;
  --hero-background-color:rgba(132, 161, 120, 1);
  --card-green-color:rgba(174, 198, 165, 1);
  --section-green-color:#84A178;
  --hero-yellow:#F8D24E;
  --card-yellow:#EFD478;
  --card-pink:#D6936D;
}

body {
  margin: 0;
}

@media screen and (min-width: 320px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    margin: 0 auto;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1200px;
  }
}

header {
  background-color: rgb(132, 161, 120);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .header-container {
    padding-top: 12px;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 20px;
    position: relative;
  }
}

.mob-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(132, 161, 120);
  padding-bottom: 64px;
  opacity: 1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  color: var(--white-text-color);
  opacity: 1;
}
@media screen and (max-width: 1199px) {
  .mob-menu {
    font-size: 48px;
    line-height: 1.2291666667;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-nav-link {
  text-decoration: none;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: var(--black-text-color);
}

.mob-menu-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-left: 32px;
  padding-right: 20px;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 110px;
}

.mob-menu-close, .mob-menu-open {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1200px) {
  .mob-menu-close, .mob-menu-open {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .buy {
    width: 152px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    margin: 0 auto;
    border: none;
  }
  .buy-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  .buy {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .buy_tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .buy_tablet {
    display: block;
    width: 152px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    margin: 0 auto;
    border: none;
  }
  .buy_tablet-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .buy_tablet {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .buy_tablet {
    display: none;
  }
}

.sandwich-icon, .cross-icon {
  fill: var(--white-text-color);
}

.tab-menu-wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .desktop-nav {
    display: none;
  }
}

.buy_desktop {
  display: block;
  width: 152px;
  height: 42px;
  background: #F8D24E;
  border-radius: 10px;
  margin-left: 204px;
  border: none;
}
@media screen and (max-width: 1199px) {
  .buy_desktop {
    display: none;
  }
}
.buy_desktop-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.desktop-nav-list {
  display: flex;
  gap: 28px;
  margin-left: 308px;
}

.desktop-nav-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-text-color);
}
.desktop-nav-link:focus, .desktop-nav-link:hover {
  cursor: pointer;
  color: var(--hero-yellow);
}

.hero {
  background-color: var(--hero-background-color);
  background-image: url(../images/mobile-ice-cream.png), url(../images/dots.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media screen and (min-width: 320px) {
  .hero-container {
    padding-top: 50px;
    padding-bottom: 236px;
  }
}
.hero-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 320px) {
  .hero-title {
    width: 247px;
  }
  .hero-title-ice, .hero-title-made {
    font-size: 26px;
    line-height: 1.2692307692;
    letter-spacing: 0.04em;
  }
  .hero-title-passion {
    font-size: 34px;
    line-height: 96.5%;
  }
}
.hero-button {
  min-width: 108px;
  height: 38px;
  border: 2px solid #F8D24E;
  border-radius: 8px;
  background-color: transparent;
}
.hero-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--hero-yellow);
}
.hero-interactive-elements {
  display: flex;
  gap: 12px;
  align-items: center;
}/*# sourceMappingURL=main.css.map */